*{
    font-family: 'Roboto Flex', sans-serif;
}
html,
h1,
h3,
h6 {
    color: #50386a;
    position: relative;
}
body{
    background: #f6f6f6;
    
}
a{
    text-decoration: none;
    color: inherit;
}

/*
    HEADER
*/

header{
    background: #f6f6f6;
    height: 70px;
    width: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 99;
    top: 0px; 
    left: 0px;
}
header *{
    color: #50386a;
}

/* 
NAV LIST
*/

nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    margin-top: -6px;
}
nav li a{
display: block;
   font-size: 1.7rem;
   text-decoration: none;
   color: #50386a;
   padding: 22px;
   
}
header nav li i:hover{
    color: #ae9fae;
    transition: 0.4s;
}

/*
    HEADER LOGO
*/

header h1 {
    margin-top: 13px;
    display: flex;
    justify-content: right;
    margin-right: 140px;
  
}
header h1 a{
    background: linear-gradient(45deg, #7b0df0 33%, rgb(180, 132, 231) 66%, #c31fb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#50386a;
}
header h1 a:hover{
    color:#50386a;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    margin-top: 0px;
    padding: -20px;
}

/*
    HEADER PHONE
*/
.headerPhone{
    position: absolute;
    top: 20px;
    right: 100px;
   font-size: 1.3rem;
   text-decoration: none;
   color: #50386a;
   
}
/*
    HEADER BUTTONS
*/

header ul li a{
   display: block;
   font-size: 1.7rem;
   text-decoration: none;
   color: #50386a;
   padding: 22px;
}
header ul li i:hover{
    color: #ae9fae;
    transition: 0.4s;
}

/*
    HEADER HIDDEN-BUTTONS
*/

header ul li ul{
    position: absolute;
    top: 70px;
    right: 165px;
    width: 180px;
    display: none;
    z-index: 3;
 }
header ul li ul a:hover{
    background-color: #ae9fae;
    transition: 0.4s;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a{
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    background: #50386a;
    color:seashell;
}
body {
    padding-top: 70px;
    margin-top: 0;
}
.wrapper{
    padding-top: 70px;
    display: block;
    z-index: 1;
}

/*
    SLIDER
*/

 .slider{
    padding-top: 10px;
    /* pointer-events: none; */
    width: 100%;
}
 .carousel{
    height: 540px;
}
.carousel-inner, .carousel-item{
    height: 560px;
} 
.carousel-inner, .carousel-item a img{
    border-radius: 24px;
} 
/* 
    PRODUCTS
*/
.product{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image{
    margin-bottom: 10px;
    
}
.product img{
    height: 290px;
    width: 290px;
    object-fit: cover;
    border-radius: 14px;

    
}
.info h3{
    font-size: 24px;
    width: 300px;
    
}
.price{
    font-size: 20px;
    font-weight:700;
}
.cart-lovers{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5px;
}
.add-to-cart, .lovers{
    border: none;
    padding-right: 15px;
    padding-left: 5px;
    font-size: 24px;
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50386a;
    background-color: transparent;
}
.col-md-4{
   width: 310px;
}
h2{
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    color: #50386a;
}
/*
    ADVENTAGE
*/
.advantages h4{
    
    font-size: 50px;
    text-align: center;
    color: #50386a;
    text-align: center;
    color: #50386a;
}
.advantages h5{
    font-size: 25px;
    text-align: center;
    color: #50386a;
}
.advantages i{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50386a;
}
.advantages row{
    
    
}
.advantages{
    
    width: 100%;
   
}
.advantage-info{
    color: #50386a;
}
.col-lg-3{
    margin-top: 45px;
    /* border: 1px solid black;  */
    height: 236px;
    text-align: center;
}